* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'DM Sans', sans-serif;
}

.container {
  margin: 15px;
}

#form-title-label {
  font-size: 50px;
}

.form-title {
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.reset-button {
  border-radius: 10%;
  height: 30px;
}

.confirm-button {
  background: #6989FE;
  padding: 0 15px;
  border: none;
  border-radius: 10%;
  height: 30px;
}

.main-form {
  display: flex;
  justify-content: space-around;
}

textarea {
  resize: none;
}

.profile {
  display: flex;
  flex-direction: column;
}

.user-info {
  margin: 50px;
}

input {
  margin: 10px 0;
}

fieldset {
  padding: 10px 15px;
}

.profile {
  margin: 50px;
}

label {
  margin: 10px 0;
}

input {
  outline: none;
}

input:focus:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}
